<ion-view title="Sign Up" hide-nav-bar="true">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--login content section-->
    <ion-content id="social-login" class="bg-green">
        <!-- login form section-->
        <form class="fakeLogin-form">
            <div>
                <img src="img/app_icon.png"/>
            </div>
            <p style="color: red;">{{errorMsg}}</p>
            <div id="logg">
                <md-input-container md-no-float="">
                    <input class="user-name" placeholder="Email" id="signupemail" ng-model="user.signup.email" ng-change="updateSignUpEmail()">
                </md-input-container>

                <md-input-container md-no-float="">
                    <input class="user-password" type="password" placeholder="Password" id="signuppw" ng-model="user.signup.pass" ng-change="updateSignUpPass()">
                </md-input-container>

                <md-input-container md-no-float="">
                    <input class="user-password" type="password" placeholder="Confirm Password" ng-model="user.signup.passconfirm" ng-change="updateSignUpPassConfirm()">
                </md-input-container>

                <!-- <md-input-container md-no-float="">
                    <input class="user-name" placeholder="First Name" id="fn">
                </md-input-container>

                <md-input-container md-no-float="">
                    <input class="user-name" placeholder="Last Name" id="ln">
                </md-input-container>

                <md-input-container md-no-float="">
                    <textarea class="user-name" placeholder="Address" id="address1"></textarea>
                </md-input-container>

                <md-input-container md-no-float="">
                    <input class="user-name" placeholder="City" id="city">
                </md-input-container>

                <md-input-container md-no-float="">
                    <input class="user-name" placeholder="State" id="state">
                </md-input-container>

                <md-input-container md-no-float="">
                    <input class="user-name" placeholder="Zip Code" id="zip">
                </md-input-container> -->
            </div>
            <div>
                <a class="md-raised md-button md-accent" ng-click="signUpNow()">
                    Sign Up
                </a>
            </div>
        </form> <!--end login form section-->
        <div class="otherlogg">
            <div>
                <a class="md-raised md-button md-primary md-hue-2" ng-click="navigateTo('app.signin')">
                    Sign In
                </a>
            </div>
        </div>
    </ion-content><!--end login content section-->
</ion-view>