<ion-view title="Loading" hide-nav-bar="true">

    <!--login content section-->
    <ion-content id="social-login" class="bg-green">
        <!-- login form section-->
        <form class="fakeLogin-form">
            <div>
                <img src="img/app_icon.png"/>
            </div>
            <p>Loading</p>

            <!--loading progress-->
            <div id="loading-loading-progress" class="loading-progress fade-in">
                <ion-spinner ng-if="!isAndroid" class="progress-circular"></ion-spinner>
                <md-progress-circular ng-if="isAndroid" md-mode="indeterminate"></md-progress-circular>
            </div> <!--end loading progress-->
            
        </form> 
    </ion-content><!--end login content section-->
</ion-view>