<ion-view title="Sign In" hide-nav-bar="true">

    <!--login content section-->
    <ion-content id="social-login" class="bg-green">
        <!-- login form section-->
        <form class="fakeLogin-form">
            <div>
                <img src="img/app_icon.png"/>
            </div>
            <p style="color: red;">{{errorSignIn}}</p>

            <div id="logg">
                <md-input-container md-no-float="">
                    <input class="user-password" placeholder="Email" type="email" ng-model="user.email" ng-change="updateEmail()">
                </md-input-container>

                <md-input-container md-no-float="">
                    <input class="user-password" type="password" placeholder="Password" ng-model="user.pass" ng-change="updatePass()">
                </md-input-container>
                
            </div>
            <div>
                <a class="md-raised md-button md-accent" ng-click="logInNow()">
                    Log In
                </a>
            </div>
        </form> <!--end login form section-->
        <div class="otherlogg" id="signupbox">
            <div>
                <p>Need to create an account?</p>
                <a ng-href="#signup" class="md-raised md-button md-primary md-hue-2" ng-click="moveBox()">
                    Register
                </a>
            </div>
        </div>
        <div class="bgBtm"></div>
    </ion-content><!--end login content section-->
</ion-view>